@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border-button {
  position: relative;
  display: inline-block;
  border: 2px solid transparent; /* Ensure the button size doesn't change on hover */
  border-radius: 4px; /* Match your button's border-radius */
}

.gradient-border-button:hover::before {
  content: '';
  position: absolute;
  top: -2px; /* Adjust the border size */
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to right, rgb(85, 217, 198) 0%, rgb(181, 217, 130) 100%);
  z-index: -1;
  border-radius: 4px;
}

.profile-background {
  width: 100%;
  height: 100%;

  background: #0b0b0b;
  --gap: 7em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  background-position: 0 0;

  /* Define animation */
  animation: moveBackground 200s linear infinite;
}

@media screen and (min-width: 640px) {
  .profile-background {
    --gap: 10em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  }
}

/* Keyframes for background movement */
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
