@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border-button {
  position: relative;
  display: inline-block;
  border: 2px solid transparent; /* Ensure the button size doesn't change on hover */
  border-radius: 4px; /* Match your button's border-radius */
}

.gradient-border-button:hover::before {
  content: '';
  position: absolute;
  top: -2px; /* Adjust the border size */
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to right, rgb(85, 217, 198) 0%, rgb(181, 217, 130) 100%);
  z-index: -1;
  border-radius: 4px;
}

.profile-background {
  --s: 120px; /* control the size */
  --c1: #1d1d1d;
  --c2: rgb(181, 217, 130);
  --c3: rgb(85, 217, 198);

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);

}
